*{
    margin: 0;
}


body{
    font-family: Poppins, Inter, sans-serif;
    color:rgb(51, 13, 103);
}

h1{
    color:rgb(51, 13, 103);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(236, 205, 163);
    font-size: 80px;
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Chewy, poppins, sans-serif; 
    display: flex;
    justify-content: center;
}

li{
    list-style-type: none;
}

#mainPage{
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background-image: url(../assets/mainPageBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#instructionsContainer{
    font-family: Poppins, Inter, sans-serif;
    width: 900px;
    height: 500px;
    background-color:rgb(174, 131, 175);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(77, 28, 77);
    border: 3.5px solid rgb(51, 13, 103);
    outline: none;
    padding: 5px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructionsContent{
    width: 70%;
    background-color: rgba(197, 169, 213, 0.6);
    border-radius: 5px;
    margin: 15px;
    padding: 20px 0 20px 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instructionsContent h2{
    margin-bottom: 20px;
}

#instructionsContent li{
    margin: 7px;
    display: flex;
    justify-content:flex-start;
}

#instructionsContent li::before{
    content: "★";
    left: 0;
    /* color:rgb(51, 13, 103) */
    /* font-size: 1.5 px; */
}


#instructionsContent button{
    margin-top: 30px;
}
#gamePage{
    height: 100vh;
    background-color: rgb(174, 131, 175);
    display: flex;
    flex-direction: column;
}
#myPopUp{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}

#myPopUpContent{
    border: 1.5px solid rgb(51, 13, 103);
    box-shadow: 5px 5px 10px rgb(77, 28, 77);
    background-color: rgb(174, 131, 175);
    margin: 14vw auto;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    height: 100px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myPopUpContent h3{
    margin: 0 0 7px 0;
}

#myPopUpContent p{
    margin: 0 0 7px 0;
}

#myPopUpContent button{
    margin: 7px 0 0 0;
}

#displayLetterSet{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#displayUserChoice{
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
#displayWordList{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;
}

#displayWordList li{
    /* list-style-type: none; */
    font-size: 15px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timerAndWordsLeft{
    font-size: 15px;
}

#keyboardContainer{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

#sidePanel{
    position: fixed;
    right:250px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#displaySafeTimer{
    border: 1.5px solid rgb(51, 13, 103);
    background-color: rgb(236, 205, 163);
    box-shadow: 5px 5px 10px rgb(77, 28, 77); 
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

#displayWordsLeft{
    border: 1.5px solid rgb(51, 13, 103);
    background-color: rgb(236, 205, 163);
    box-shadow: 5px 5px 10px rgb(77, 28, 77); 
    border-radius: 5px;
    padding: 10px;
}

#keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clearBtn{
    width: 110px;
    height: 60px;
    justify-content: center;
}

#enterBtn{ 
    width: 110px;
    height: 60px;
    justify-content: center;
}

.hiddenContainer {
    visibility: hidden; 
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.basicContainer{
    width: 300px;
    background-color: rgb(237, 203, 238);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(77, 28, 77);
    border: 1.5px solid rgb(51, 13, 103);
    outline: none;
    padding: 5px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
}

.row{
    width: 100%;
    height: 70px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 6px;
}

.basicButton{
    font-family: Poppins, Inter, sans-serif;
    font-size: 15px; 
    padding: 5px 10px 5px 10px;
    height: fit-content;
    width: fit-content;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    color: rgb(236, 205, 163);
    border: 1px solid rgb(236, 205, 163);
    background-color: rgb(51, 13, 103);
    box-shadow: 5px 5px 10px rgb(77, 28, 77); 
    font-weight: 500;
}

.basicButton:active{
    box-shadow: 1px 1px 2px rgb(123, 100, 136);
}

.keyButton{
    font-family: Inter, Poppins, sans-serif;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color:rgb(51, 13, 103);
    border: 1.5px solid rgb(51, 13, 103);
    outline: none;
    background-color: rgb(236, 205, 163);
    box-shadow: 5px 5px 10px rgb(77, 28, 77);
    cursor: pointer;
}

.keyButton:active{
    box-shadow: 1px 1px 2px rgb(86, 65, 98);  
}

.letters:disabled {
  background-color: #ccc;
  color: #666;
  opacity: 0.6;
  cursor: not-allowed;
}
