*{
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    justify-content: center;
}

#container{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

#keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clearBtn{
    width: 110px;
    height: 60px;
    justify-content: center;
}

#enterBtn{ 
    width: 110px;
    height: 60px;
    justify-content: center;
}

#instructions{
    display: flex;
    justify-content: center;
}

.row{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.keyButton{
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    color: rgb(51, 13, 103);
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px rgb(57, 21, 57);
    cursor: pointer;
}

.keyButton:active{
    box-shadow: 1px 1px 2px rgb(86, 65, 98);
}