*{
    margin: 0;
}


body{
    background-color: rgb(152, 131, 164) ;
    display: flex;
    justify-content: center;
}

#gamePage h1{
    color:rgb(51, 13, 103);
    font-size: 70px;
    font-weight: 550;
    font-family: Chewy, poppins, sans-serif; 
    display: flex;
    justify-content: center;
}

#myPopUp{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#myPopUpContent{
    background-color: rgb(86, 65, 98);
    margin: 14vw auto;
    padding: 10px 40px 10px 40px;
    border: 1px solid #888;
    height: 100px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#displayLetterSetContainer{
    width: 500px;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

#displayLetterSet{
    font-family: Inter, Poppins, sans-serif;
    color:rgb(51, 13, 103);
    font-size: 20px;
    font-weight: bold;
}

#keyboardContainer{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

#keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clearBtn{
    width: 110px;
    height: 60px;
    justify-content: center;
}

#enterBtn{ 
    width: 110px;
    height: 60px;
    justify-content: center;
}

#instructions{
    display: flex;
    justify-content: center;
}

.row{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.basicButton{
    font-size: 15px; 
    padding: 5px 10px 5px 10px;
    height: fit-content;
    width: fit-content;
    outline: none;
    color: rgb(51, 13, 103);
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px rgb(57, 21, 57);
    font-weight: 700;
}

.basicButton:active{
    box-shadow: 1px 1px 2px rgb(123, 100, 136);
}

.keyButton{
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    color: rgb(51, 13, 103);
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px rgb(57, 21, 57);
    cursor: pointer;
}

.keyButton:active{
    box-shadow: 1px 1px 2px rgb(86, 65, 98);
}

.letters:disabled {
  background-color: #ccc;
  color: #666;
  opacity: 0.6;
  cursor: not-allowed;
}